h1{
    font-weight: bold;
    margin-bottom: 20px;
}
h2 {
    font-family: 'Nunito Sans';
    font-size: 24px;
    color: #D58000;
    margin-top: 50px;
    border-bottom: 3px solid #D58000;
          }
img{
    max-width: 100%;
}
h3{
    margin-bottom: 0px;
    font-weight: bold;
}

body{
    margin-top: 50px;
    margin-bottom: 80px;
   font-family: Nunito Sans, Verdana, Geneva, Tahoma, sans-serif;
}

.birka {
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 24px;
    color:#D58000;
}

p,b{
    font-size: 22px;
}

a{
    font-size: 24px;
    color: #D58000;
    margin-right: 30px;
}

a:visited {
    color: #800080;
   } 
a:hover {
    color: #800000;   
    text-decoration: underline;
   }